
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <div class="page-header">
      <h1>MEDILINX ANALYTICS | <font color="grey">DOCTORES</font></h1>
    </div>
    <h3><%= @doctor.practice_name %></h3>
    <br>
    <br>

    <div class="row">
      <div class="col-md-12">
        <hr style="border-width:5px">
        <h3> <font color="grey"> STATIC PLOTS </font> </h3>
        <div>
        <img src="plots/patperdoc.png" style=" display: inline-block;" width="40%" ></img>
        &nbsp;&nbsp;
        <img src="plots/evperdoc.png" style=" display: inline-block;" width=40%" ></img> 
        </div>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr style="border-width:5px">
        <div class="col-md-6">
          <h3> <font color="grey"> INTERACTIVE PLOT </font> </h3>
          <center><div id="66a5b38a-a6a2-4ce6-a558-973f611bc716" style="height: 480px; width: 720px;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("66a5b38a-a6a2-4ce6-a558-973f611bc716", [{"opacity": 0.92, "autobinx": false, "name": "events per doctor", "histnorm": "", "xbins": {"start": -0.5, "end": 19.5, "size": 1.0}, "marker": {"color": "rgb(52, 96, 141)", "line": {"color": "rgb(52, 96, 141)", "width": 1.5}}, "x": [5, 0, 0, 1, 0, 1, 0, 0, 0, 19, 0, 3, 0, 1], "type": "histogram"}, {"opacity": 0.92, "autobinx": false, "name": "patients per doctor", "histnorm": "", "xbins": {"start": -0.5, "end": 19.5, "size": 1.0}, "marker": {"color": "rgb(35, 170, 131)", "line": {"color": "rgb(35, 170, 131)", "width": 1.5}}, "x": [1, 0, 0, 1, 0, 1, 0, 0, 0, 8, 0, 2, 0, 1], "type": "histogram"}], {"width": 720, "paper_bgcolor": "rgba(255,255,255,.1)", "plot_bgcolor": "rgba(255,255,255,.8)", "yaxis": {"title": "counts", "showgrid": true}, "height": 480, "barmode": "overlay", "xaxis": {"range": [-0.5, 19.5], "title": "Number of events or patients", "showgrid": true}}, {"linkText": "Export to plot.ly", "showLink": false})</script></center>
          <br>
        </div>

      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          <hr style="border-width:5px">
          <h3> <font color="grey"> PADECIMIENTOS DIAGNOSTICADOS </font> </h3>
          <br>
        </div>
    </div>
    
    