<div class="page-header">
  <h1>MEDILINX ANALYTICS | <font color="grey">DOCTORES</font></h1>
</div>
<h3><%= @doctor.practice_name %></h3>
<br>
<br>

<div class="row">
  <div class="col-md-12">
    <hr style="border-width:5px">
    <h3> <font color="grey"> NÚMERO DE PACIENTES </font> </h3>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr style="border-width:5px">
    <div class="col-md-6">
      <h3> <font color="grey"> PACIENTES NUEVOS Y RECURRENTES </font> </h3>
      <br>
    </div>

    <div class="col-md-6 vertical_line">
      <h3> <font color="grey"> MEDIO DE REFERENCIA </font> </h3>
      <br>
        <br>
          <br>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr style="border-width:5px">
      <h3> <font color="grey"> PADECIMIENTOS DIAGNOSTICADOS </font> </h3>
      <br>
    </div>
  </div>
