<!-- Validation failure messages -->
<% if @medical_relation.errors.any? %>
  <% @medical_relation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Medical Relation</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_medical_relation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for doctor_id -->
      <div class="form-group">
        <label for="doctor_id" class="control-label">
          Doctor
        </label>

        <input type="text" id="doctor_id" name="doctor_id" placeholder="Doctor" class="form-control" value="<%= @medical_relation.doctor_id %>">
      </div>

      <!-- Label and input for patient_id -->
      <div class="form-group">
        <label for="patient_id" class="control-label">
          Patient
        </label>

        <input type="text" id="patient_id" name="patient_id" placeholder="Patient" class="form-control" value="<%= @medical_relation.patient_id %>">
      </div>

      <button class="btn btn-success">
        Create Medical Relation
      </button>
      or
      <a href="/medical_relations">Cancel</a>
    </form>
  </div>
</div>
